<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="manage/template/head::head"></head>

<body class="app sidebar-mini rtl">
	<!-- Navbar-->
	<header th:replace="manage/template/header::header"> </header>
	<!-- Sidebar menu-->
	<aside th:replace="manage/template/sidebar::sidebar"></aside>

	<div class="app-content">
		<div class="row">
			<!-- cau hoi -->
			<div class="col col-md-12">
				<h4>THÔNG TIN CÁC KÌ THI MÔN HỌC</h4>
				<table class="table table-hover table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>STT</th>
							<th>Tên kì thi</th>
							<th>Nội dung câu hỏi</th>
							<th>Sửa</th>
							<th>Xóa</th>


						</tr>
					</thead>
					<tbody>
						<tr th:each="answer, itrStat : ${subject.answerList}">
							<td th:text="${itrStat.index + 1}">1</td>

							<td th:if="${answer.idExam == 1}">Điểm quá trình</td>
							<td th:if="${answer.idExam == 2}">Điểm thực hành</td>
							<td th:if="${answer.idExam == 3}">Điểm giữa kì</td>
							<td th:if="${answer.idExam == 4}">Điểm cuối kì</td>
							<td th:text="${answer.contentAnswer}">ma mon hoc</td>
							<td><a class="btn btn-success"
								th:href="@{/manage/sua-cau-hoi/subject/}  + ${subject.idSubject} + '/answer/' + ${answer.idAnswer}">Sửa</a></td>
							<td><a class="btn btn-danger"
								th:href="@{/manage/xoa-cau-hoi/subject/} + ${subject.idSubject} + '/answer/' + ${answer.idAnswer}">Xóa</a></td>

						</tr>

					</tbody>
				</table>

			</div>
			<!-- them cau hoi moi  -->
			<div class="col col-md-12">
				<h4>THÊM CÂU HỎI MỚI</h4>
				<form
					th:action="@{/manage/them-cau-hoi/subject/} + ${subject.idSubject}"
					method="post">


					<div class="form-group">
						<label for="kithi">Chọn kì thi</label> <select
							class="form-control" id="kithi" name="idExam">
							<option value="1">Điểm quá trình</option>
							<option value="2">Thi thực hành</option>
							<option value="3">Thi giữa kì</option>
							<option value="4">Thi cuối kì</option>
						</select>
					</div>


					<div class="form-group">
						<label for="contentAnswer">Nhập nội dung câu hỏi</label>
						<textarea class="form-control" name="contentAnswer"
							id="contentAnswer" style="font-size: 17px;" rows="2"></textarea>
					</div>

					<button type="submit" style="font-size: 18px"
						class="btn btn-primary mb-2">Thêm mới</button>

				</form>

			</div>

			<!-- muc tieu mon hoc -->
			<div class="col col-md-12">
				<h4
					th:text="'THÔNG TIN MÔN HỌC ' + ${#strings.toUpperCase(subject.nameSubject)}"></h4>
				<table class="table table-hover table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>STT</th>
							<th>Kí hiệu</th>
							<th>Tên chuẩn</th>
							<th>Sửa</th>
							<th>Xóa</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="g, itrStat : ${coursesGoalList}">
							<td th:text="${itrStat.index + 1}">1</td>
							<td th:text="${g.sign}"></td>
							<td th:text="${g.nameCoursesGoal}">ma mon hoc</td>
							<td><a class="btn btn-success"
								th:href="@{/manage/chinh-sua-g/subject/}  + ${subject.idSubject} +'/coursesgoal/' +${g.idCoursesGoal} ">Sửa</a></td>
							<td><a class="btn btn-danger"
								th:href="@{/manage/xoa-g/subject/} + ${subject.idSubject} +'/coursesgoal/' +${g.idCoursesGoal} ">Xóa</a></td>
						</tr>

					</tbody>
				</table>
			</div>


			<!-- them moi muc tieu -->
			<div class="col col-md-12">
				<h4>THÊM MỤC TIÊU MÔN HỌC (G) MỚI</h4>
				<form
					th:action="@{/manage/them-g-moi/subject/} + ${subject.idSubject}"
					method="post">
					<div class="form-group">
						<label for="exampleFormControlTextarea1">Nhập mục tiêu môn
							học</label>
						<textarea name="txtG" class="form-control"
							id="exampleFormControlTextarea1" style="font-size: 17px;"
							rows="3"></textarea>
					</div>

					<button type="submit" style="font-size: 18px"
						class="btn btn-primary mb-2">Thêm mới</button>

				</form>

			</div>

			<div class="col col-md-12">
				<footer th:replace="manage/template/footer::footer"></footer>
			</div>
		</div>
	</div>

</body>

</html>