<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="manage/template/head::head"></head>

<body class="app sidebar-mini rtl">
	<!-- Navbar-->
	<header th:replace="manage/template/header::header"> </header>
	<!-- Sidebar menu-->
	<aside th:replace="manage/template/sidebar::sidebar"></aside>

	<div class="app-content">
		<div class="row">
			<!-- cau hoi -->
			<div class="col col-md-12">
				<h4>THÔNG TIN CÁC KÌ THI MÔN HỌC</h4>
				<table class="table table-hover table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>STT</th>
							<th>Tên kì thi</th>
							<th>Nội dung câu hỏi</th>
							<th>Sửa</th>
							<th>Xóa</th>


						</tr>
					</thead>
					<tbody>
						<tr th:each="answer, itrStat : ${subject.answerList}">
							<td th:text="${itrStat.index + 1}">1</td>

							<td th:if="${answer.idExam == 1}">Điểm quá trình</td>
							<td th:if="${answer.idExam == 2}">Điểm thực hành</td>
							<td th:if="${answer.idExam == 3}">Điểm giữa kì</td>
							<td th:if="${answer.idExam == 4}">Điểm cuối kì</td>
							<td th:text="${answer.contentAnswer}">ma mon hoc</td>
							<td><a class="btn btn-success"
								th:href="@{/manage/sua-cau-hoi/subject/}  + ${subject.idSubject} + '/answer/' + ${answer.idAnswer}">Sửa</a></td>
							<td><a class="btn btn-danger"
								th:href="@{/manage/xoa-cau-hoi/subject/} + ${subject.idSubject} + '/answer/' + ${answer.idAnswer}">Xóa</a></td>

						</tr>

					</tbody>
				</table>

			</div>
			
			<div class="col col-md-12">
				<footer th:replace="manage/template/footer::footer"></footer>
			</div>
		</div>
	</div>

</body>

</html>