<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="manage/template/head::head"></head>
<head>
<script th:src="@{/manage/js/chart.js}"></script>

</head>
<body class="app sidebar-mini rtl">
	<!-- Navbar-->
	<header th:replace="manage/template/header::header"> </header>
	<!-- Sidebar menu-->
	<aside th:replace="manage/template/sidebar::sidebar"></aside>

	<div class="app-content">
		<div class="row">
			<div class="col col-md-12">
				<h4>THÔNG TIN SINH VIÊN</h4>
				<div class="card mb-3">
					<div class="row no-gutters">
						<div class="col-md-2">
							<img th:src="@{/common/student.jpg}" class="card-img" alt="...">
						</div>
						<div class="col-md-10">
							<div class="card-body">
								<p class="card-text" th:text="'Username: ' + ${user.username}">Card
									title</p>
								<p class="card-text" th:text="'Fullname: ' + ${user.fullname}">onger.</p>
								<p class="card-text"
									th:text="'Ngày sinh: ' +  ${#dates.format(user.dayOfBirth, 'dd-MM-yyyy')}">Last
									updated 3 mins ago</p>
							</div>
						</div>
					</div>
				</div>


			</div>
			<div class="col col-md-12">
				<h4>THÔNG TIN MÔN HỌC CÁC CHUẨN ĐẦU RA MÔN HỌC</h4>
				<table class="table table-hover table-bordered">
					<thead class="thead-light">
						<tr>
							<th scope="col">STT</th>
							<th scope="col">Kí hiêu</th>
							<th scope="col">Tên chuẩn</th>
							<th scope="col">Kết quả</th>
							<th>Đánh giá</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="usg, itrStat : ${userSubjectCoursesGoalList}"
							th:classappend="${usg.percent < 50.0} ? 'chuadat' : 'dat' ">
							<td th:text="${itrStat.index + 1}"></td>
							<td th:text="${usg.coursesGoal.sign}"></td>
							<td th:text="${usg.coursesGoal.nameCoursesGoal}"></td>
							<td th:text="${usg.percent + '%' }"></td>
							<td th:if="${usg.percent >=50}" th:text="'Đạt'"></td>
							<td th:if="${usg.percent <50}" th:text="'Chưa Đạt'"></td>
						</tr>

					</tbody>
				</table>
			</div>


			<div class="col col-md-12">
				<h4>BIỂU ĐỒ</h4>
				<canvas id="ChartDemo" style="background: white;"></canvas>
				<script type="text/javascript" th:inline="javascript">
						/*<![CDATA[*/
						var ctx = document.getElementById("ChartDemo").getContext('2d');
						var ChartDemo = new Chart(ctx, {
							type: 'bar',
							data: {
								labels: /*[[ ${label} ]]*/,
								datasets: [
									{
										label: "Biểu đồ thể hiện các G đạt được",
										lineTension: 0,
										fill: false,
										data: /*[[ ${point} ]]*/,
										backgroundColor: [
											 'rgba(255, 99, 132, 1)',
								                'rgba(54, 162, 235, 1)',
								                'rgba(255, 206, 86, 1)',
								                'rgba(75, 192, 192, 1)',
								                'rgba(153, 102, 255, 1)',
								                'rgba(255, 159, 64, 1)'
							            ],
							           
									},
								]
							},
							options: {
								responsive: true,
								scales: {
							        yAxes: [{
							            ticks: {
							                beginAtZero: true
							            }
							        }]
							    }
							}
						});
   					 /*]]>*/
					</script>

			</div>



			<div class="col col-md-12">
				<footer th:replace="manage/template/footer::footer"></footer>
			</div>
		</div>
	</div>

</body>

</html>