<div xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar" class="sidebar">

    <div class="card my-2">
        <h5 class="card-header">Tìm kiếm khóa học</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm...">
                <span class="input-group-btn">
                    <button class="btn btn-outline-success" type="button">Tìm
                        kiếm</button>
                </span>
            </div>
        </div>
    </div>


    <!-- Categories Widget -->
    <div class="card my-2">
        <h5 class="card-header">Menu</h5>
        <div class="card-body" style="padding: 0px 0px;">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled mb-0 sidebar_menu">

                        <li th:if="${user.departments != null}"><a style="color: black;" th:text="'Trưởng khoa ' +${user.departments.nameDepartment}">Web
                                Design</a></li>

                        <li style="padding: 10px 50px;" th:if="${user.departments != null}"><a th:href="@{/lecturer/xem-danh-sach-user-trong-khoa/} + ${user.departments.idDepartment}">Xem
                                danh sách user khoa</a></li>


                        <li style="padding: 10px 50px;" th:if="${user.departments != null}"><a th:href="@{/lecturer/them-chuan-dau-ra-chuong-trinh-dao-tao/khoa/} + ${user.departments.idDepartment}">Thêm
                                chuẩn đầu ra</a></li>


                        <li style="padding: 10px 50px;" th:if="${user.departments != null}"><a th:href="@{/lecturer/them-mon-hoc/khoa/} + ${user.departments.idDepartment}">Thêm
                                môn học mới</a></li>

                        <li style="padding: 10px 50px;" th:if="${user.departments != null}"><a th:href="@{/lecturer/xem-danh-sach-mon-hoc/khoa/} + ${user.departments.idDepartment}">Xem danh sách môn học</a></li>




                        <li th:each="class :${user.livingClasseList}"><a th:text="'Cố vấn học tập lớp ' + ${class.nameLivingClass}" th:href="@{/lecturer/co-van-hoc-tap-lop-}+ ${#strings.toLowerCase(class.nameLivingClass)}">Thông
								tin lớp cố vấn học tập</a></li>

                    </ul>
                </div>

            </div>
        </div>
    </div>


    <!-- Side Widget -->
    <div class="card my-2">
        <h5 class="card-header">Thông tin website</h5>
        <div class="card-body">Website đánh giá chất lượng đào tạo, giảng dạy của Trường Đại học Công nghệ Thông tin, Đại học Quốc gia Thành phố Hồ Chí Minh</div>
    </div>






</div>