<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="lecturer/template/head::head"></head>

<body>

	<!-- Navigation -->
	<nav th:replace="lecturer/template/nav::nav"></nav>
	<header th:replace="lecturer/template/header::header"></header>
	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div th:replace="lecturer/template/sidebar::sidebar"></div>
			</div>
			<!-- Post Content Column -->
			<div class="col-lg-8">

				<div class="card mt-2 monhoc">
					<h5 class="card-header" th:text="'Danh sách giảng viên khoa ' + ${strName} "></h5>

				</div>

				<div class="card">
					<table class="table table-hover table-bordered">
						<thead class="thead-light">
							<tr>
								<th>STT</th>
								<th>UserName</th>
								<th>FullName</th>
								<th>Ngày sinh</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user, itrStat : ${listLecturer}">
								<td th:text="${itrStat.index + 1}">1</td>
								<td title="Xem thông tin user"><a
									th:text="${user.username}"
									th:href="@{/lecturer/xem-thong-tin-giang-vien/}+${user.username}">user</a>
								</td>
								<td th:text="${user.fullname}">full name</td>
								<td th:text="${#dates.format(user.dayOfBirth, 'dd-MM-yyyy')}">Ngày
									sinh</td>
							</tr>

						</tbody>
					</table>
				</div>
				
				
				
				
				<div class="card mt-2 monhoc">
					<h5 class="card-header" th:text="'Danh sách sinh viên khoa ' + ${strName} ">Danh sách sinh viên</h5>

				</div>

				<div class="card">
					<table class="table table-hover table-bordered">
						<thead class="thead-light">
							<tr>
								<th>STT</th>
								<th>UserName</th>
								<th>FullName</th>
								<th>Ngày sinh</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user, itrStat : ${listStudent}">
								<td th:text="${itrStat.index + 1}">1</td>
								<td title="Xem thông tin user"><a
									th:text="${user.username}"
									th:href="@{/lecturer/xem-thong-tin-sinh-vien/}+${user.username}">user</a>
								</td>
								<td th:text="${user.fullname}">full name</td>
								<td th:text="${#dates.format(user.dayOfBirth, 'dd-MM-yyyy')}">Ngày
									sinh</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer>
		<div th:replace="lecturer/template/footer::footer"></div>
	</footer>


</body>

</html>